@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Titillium Web', sans-serif;
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Titillium Web', sans-serif;
   font-weight: 400;   
}

body,
html {
   -webkit-text-size-adjust: none;
   width: 100%;
   background: #f4f4f4;
}

a,
button {
   border: 0;
   text-decoration: none !important;
   outline: none !important;
   cursor: pointer;
}


h1,
h2,
h3,
h6,
p,
ul,
li,
figure {
   margin: 0;
   padding: 0;
   line-height: normal;
   font-weight: normal;
}

select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

figure {
   display: inline-block;
   text-align: center;
}

ul,
ol {
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
}
ol {
   list-style-type: auto;
}

label {
   border: 0;
   text-decoration: none !important;
   outline: none !important;
   font-weight: 900;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="month"],
input[type="file"],
select {
   display: inline-block;
   width: 100%;
   max-width: 400px;
   height: 36px;
   padding: 5px 10px;
   font-size: 16px;
   font-weight: 400;
   line-height: 36px;
   color: #333 !important;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #d1d1d1;
   border-radius: 5px;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

input[type="file"] {
   line-height: 1.5;
   height: 33px;
}

input:disabled {
   background: #e9ecef;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="month"]:focus,
select:focus {
   color: #000;
   border-color: #80bdff;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.error {
   border: 1px solid #FF0000 !important;
}

:root {
   --primary-color: #eb4a29;
   --secondary-color: #63334b;
   --primary-light-color: #ff9f8b;
   --primary-horizontal-gradient : linear-gradient(to right,  #ee4b2a 0%,#b81f00 100%);
   --primary-horizontal-gradient-hover : linear-gradient(to right, #b81f00 0%, #ee4b2a 100%)
}

a {
   display: block;
   color: #333;
   font-size: 16px;
   margin: 5px auto;
   max-width: fit-content;
   text-decoration: underline !important;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

a:hover {
   color: #000;
}

.red-btn {
   display: inline-block;
   font-family: 'Titillium Web', sans-serif;
   font-size: 18px;
   text-align: center;
   color: #FFF;
   font-weight: bold;
   padding: 5px 25px 7px;
   text-decoration: none !important;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   background: var(--primary-horizontal-gradient);
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.red-btn:hover {
   background: var(--primary-horizontal-gradient-hover);
}

.flex {
   display: flex;
   display: -webkit-flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.container {
   display: block;
   width: 90%;
   max-width: 600px;
   margin: 50px auto;
}

.logo {
   display: block;
   text-align: center;
   padding-bottom: 15px;
}

.logo img {
   display: inline-block;
   width: 180px;
   height: auto;
}

.otp-box-container,
.login-box-container {
   display: block;
   background: #FFF;
   padding: 25px;
   text-align: center;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
   border: 1px solid #eee;
}

.otp-box-container h1 {
   font-size: 20px;
   text-align: center;
   font-weight: 600;
   color: #333;
   padding-bottom: 5px;
}

.otp-box-container h2 {
   font-size: 17px;
   text-align: center;
   color: #666;
   padding-bottom: 25px;
}

.otp-box-container h2 b {
   color: #333;
}

.otp-inputs {
   display: flex;
   display: -webkit-flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-bottom: 15px;
   gap: 15px;
}

.otp-inputs input {
   display: block;
   width: 50px;
   height: 50px;
   padding: 10px;
   border: 0;
   border-bottom: 2px solid #000;
   text-align: center;
   font-size: 24px;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
}

.error {
   display: block;
   text-align: center;
   color: #ff0000;
   padding-bottom: 10px;
}

.container:has(.login-box-container) {
   max-width: 500px;
}

.login-box-container {
   padding: 50px;
}

.login-box-container h2 {
   display: block;
   width: 100%;
   text-align: left;
   border-bottom: 4px double var(--secondary-color);
   margin-bottom: 15px;
   padding-bottom: 5px;
   color: var(--primary-color);
}

.login-box-container a {
   font-size: 16px;
   color: var(--secondary-color);
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.login-box-container ul li {
   padding-bottom: 20px;
}

.login-box-container ul li > label {
   padding-bottom: 3px;
}

.login-box-container label {
   display: block;
   font-size: 14px;
   color: #000;
   font-weight: normal;
   text-align: left;
}

.login-box-container label:has(input[type="checkbox"]) {
   display: flex;
   display: -webkit-flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 5px;
}

.login-box-container label input[type="checkbox"] {
   width: 17px;
   height: 17px;
}  

.flex:has(.forgot-password-form-open) {
   justify-content: space-between;
   padding-bottom: 20px;
}

.forgot-password-form-open {
   margin: 0;
}

.back-to-login-form {
   display: block;
   margin-left: 0;
   font-size: 20px !important;
   color: var(--primary-color) !important;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.back-to-login-form:hover {
   transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   -webkit-transform: scale(1.1);
}

.forgot-password-form {
   display: none;
}

.forgot-password-form ul {
   padding-bottom: 10px;
}